.top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 75vh;
}

.features {
    display: flex;
    justify-content: space-between;
    bottom: 24px;
}

.circle {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    background-color: white;
    border-color: #816CFF;
    border-style: solid;
}

.secondary {
    display: flex;
    gap: 4px;
    border-radius: 24px;
    font-size: 17px;
    padding: 0 20px 0 20px;
    background-color: white;
    border-color: #816CFF;
    border-style: solid;
    color: #816CFF;
    align-items: center;
}

.header {
    display: flex;
    gap: 0;
    justify-content: space-between;

}

h1 {
    font-size: 17px;
    flex-grow: 2;

}

#back {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 17px;
    color: #6E6BFF;
}

.preferencesButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
}

.preferencesButtons button {
    padding: 17px 0 17px 16px;
    text-align: left;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0px 1px 8px 0px #0000001A;
    background-color: white;
    border-color: white;
}