/* ---------- GENERAL ---------- */

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 8px 8px 8px 8px;
}

h1 {
    font-size: 17px;
    flex-grow: 2;

}

#back {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 17px;
    color: #6E6BFF;
}

.headerNew {
    display: flex;
    gap: 0;
    justify-content: space-between;

}

.headerNew button {
    flex-grow: 1;
    width: 71px;
    height: 42px;
}

.headerNew h1 {
    flex-grow: 2;
    text-align: center;
}

#empty {
    border: none;
    background-color: white;
}

/* ---------- EXPLORING ---------- */

.top {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 72vh 0;
}

.features {
    display: flex;
    justify-content: space-between;
}

#findObject {
    display: flex;
    gap: 4px;
    border-radius: 24px;
    font-size: 13px;
    padding: 13px 20px 13px 20px;
    background-color: white;
    border: 2px solid #816CFF;
    color: #816CFF;
    align-items: center;
    font-weight: 500;
}

.circle {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    background-color: white;
    border-color: #816CFF;
    border-style: solid;
}

.secondary {
    display: flex;
    flex-grow: 2;
    gap: 4px;
    border-radius: 24px;
    font-size: 17px;
    padding: 0 20px 0 20px;
    background-color: white;
    border-color: #816CFF;
    border-style: solid;
    color: #816CFF;
    align-items: center;
}

/* ---------- PREFERENCES ---------- */

.preferencesButtons {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.preferencesButtons button {
    padding: 17px 0 17px 16px;
    text-align: left;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0px 1px 8px 0px #0000001A;
    background-color: white;
    border-color: white;
    font-size: 17px;
}

.buttonDescription {
    display: flex;
    flex-direction: column;
}

.buttonDescription button {
    margin: 0 0 8px 0;
}

.buttonDescription p {
    padding: 0 0 0 16px;
    font-size: 12px;
    margin: 0 0 24px 0;
    color: gray;
}

/* ---------- ADD FACE ---------- */

.content {
    display: flex;
    flex-direction: column;
}

.faces {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.faces h3 {
    margin: 0 0 8px 0;
    font-size: 13px;
    font-weight: 600;
    color: gray;
    padding: 0 0 0 16px;
}

.savedFaces {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    box-shadow: 0px 1px 8px 0px #0000001A;
    border-radius: 8px;
    margin: 0 0 4vh 0;
}

.savedFaces button {
    font-size: 17px;
    padding: 17px 0 17px 16px;
    text-align: left;
    border: none;
    border-bottom: 0.5px solid gray;
    background-color: white;
}

.primary {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.primary button {
    padding: 13px 0 13px 0;
    border-radius: 24px;
    border: none;
    background-color: #816CFF;
    color: white;
    font-size: 17px;
}

#lastFace {
    border: none;
}

/* ---------- TUTORIAL ---------- */

.tutorialSteps {
    display: flex;
    flex-direction: column;
    margin: 4vh 0 4vh 0;
    border-radius: 8px;
    text-align: center;
}

.tutorialSteps h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.tutorialSteps p {
    font-size: 16px;
    margin: 0 0 4vh 0;
    width: 270px;
    align-self: center;
}

/* ---------- FIND OBJECT ---------- */

.objectsList {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px 0px #0000001A;
    border-radius: 8px;
    margin-bottom: 0;
}

.objectsList button {
    padding: 17px 0 17px 16px;
    text-align: left;
    border: none;
    background-color: white;
}

.search {
    display: flex;
    justify-content: space-around;
}

.search input {
    padding: 7px 0 7px 0;
    font-size: 17px;
    flex-grow: 2;
}

.favourites h2 {
    font-size: 13px;
    margin: 16px 0 8px 0;
    color: gray;
    padding: 0 0 0 16px;
}

.allObjects h2 {
    font-size: 13px;
    margin: 32px 0 8px 0;
    color: gray;
    padding: 0 0 0 16px;
}

.objectsList button {
    font-size: 17px;
}

.addFavourite {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    border-bottom: solid 0.5px gray;
}

.objectsList #lastObject {
    border: none;
}

.favourites .objectsList button {
    border-bottom: 0.5px solid gray;
}

/*---------- SCANNING ----------*/

.headerNoBack {
    display: flex;
    text-align: center;
}

.scanPreview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16vh;
}

.scanPreview video {
    align-self: center;
    border-radius: 50%;
    border: solid 4px #816CFF;
    margin-bottom: 32px;
}

.scanPreview p {
    margin: 0;
}

/*---------- DETAILS ---------- */

.faceImage {
    display: flex;
    flex-direction: column;
}

.faceImage img {
    margin-top: 2vh;
    align-self: center;
    margin-bottom: 4vh;
    border-radius: 50%;
    border: solid 4px #816CFF;
}

.enterName {
    display: flex;
    justify-content: center;
}

.enterName input {
    font-size: 17px;
    padding: 8px 0 8px 0;
    margin: 0 0 1vh 0;
    width: 100%;
}

.relationship {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.relationship p {
    padding: 0 0 0 16px;
    font-weight: 500;
}

.family {
    display: flex;
    justify-content: space-between;
    padding: 17px 16px 17px 16px;
    border-bottom: 0.5px solid gray;
}

.friend {
    display: flex;
    justify-content: space-between;
    padding: 17px 16px 17px 16px;
    border-bottom: 0.5px solid gray;
}

.colleague {
    display: flex;
    justify-content: space-between;
    padding: 17px 16px 17px 16px;
}

.choices {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px 0px #0000001A;
    border-radius: 8px;

}

.choices label {
    flex-grow: 2;
}

/*---------- DESCRIBE SCENE ----------*/

.description {
    margin: 56vh 0 0 0;
    padding: 16px;
    text-align: center;
    background-color: #3B24C3;
    color: white;
    border-radius: 4px;
}

.describeFeatures {
    display: flex;
    justify-content: space-around;
    margin: 16px 0 0 0;
}

.describeFeatures button {
    border: none;
    background-color: white;
}

/*---------- LOOKING FOR... ----------*/

.lookingForObject {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    background-color: #3B3B3B;
    border-radius: 8px;
    margin: 16px 0 68vh 0;
}

.lookingForObject p {
    font-size: 13px;
    color: white;
}

.lookingForObject button {
    font-size: 13px;
    background-color: #3B3B3B;
    border: none;
    color: white;
}

.cancel {
    display: flex;
    justify-content: center;
}

.cancel button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 13px 20px 13px 20px;
    border-radius: 24px;
    background-color: white;
    border: 2px solid #816CFF;
    font-size: 17px;
    color: #816CFF;
}

/*---------- HELP ----------*/

.help {
    margin-top: 16px 0 0 0;
}

.help p {
    font-size: 15px;
    line-height: 1.5;
}

.help ul li {
    font-size: 15px;
    line-height: 1.5;
}

.help img {
    width: 100%;
    height: auto;
}

